.App{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.explain-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin:40px;
}
.image-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* EXPLAIN CONTAINER */
.explain-container  {
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.503);
    /* border: 1px solid white; */
    padding: 10px 25px 10px 25px;
    border-radius: 18px;
}
.explain-container p{
    color: rgb(255, 255, 255);
    text-align: justify;
}
.explain-container h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
}
/* IMAGE CONTAINER */
.input-date{
    font-size: 1.15rem;
    border: 1px solid white;
    color: white;
    border-radius:8px ;
    text-align: center;
    height: 40px;
    margin: 0 0 0 20px;
    padding: 8px;
}
.input-date p{
    color: white;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.image-container img {
    /* height: 80vh; */
    max-width: 900px;
    max-height: 800px;
}
/* VIDEOS CONTAINER */
.videos-container{
    display: flex;
    flex-direction: row;
}
.videos-container iframe{
    margin: 3px;
}

.full-screen-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.full-screen-link:hover{
   color: white;
}

.img-badge{
    position: relative;

}
.badge{
    position: absolute;
    bottom:2%;
    left: 2%;
}

.title-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#chivato{
    color: red;
    margin: 10px;
}
