@media (max-width: 1550px) {
    
    .App{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: fit-content;
    }
    .image-container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60vw;
    }
    .image-container img {
        height:45vh;
    }

    .explain-container{
        font-size: 1.15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85vw;
        margin:45px;
    }

    .full-view-btn {
        bottom: 25px;
        right: 25%;
        position: absolute;
        z-index: 0;
    }

}

@media (max-width: 870px) {
    
    .explain-container{
        font-size: 1.15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85vw;
        margin:45px;
    }
}

@media (max-width: 870px) {

    .videos-container{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 380px) {

    .videos-container{
        display: flex;
        flex-direction: column;
    }

}